<div class="footer">

    <div class="footer-logo">
        <span class="footer-logo-t">
            TRASH
        </span>
        <span class="footer-logo-clothes">
            CLOTHES
        </span>
        <span class="footer-logo-s2">
            S
        </span>
        <span class="footer-logo-s3">
            S
        </span>
    </div>
    <a href="https://www.instagram.com/angaysfagres/" class="footer-insta">
        @ANGAYSFAGRES
    </a>
</div>