<div class="navbar">
    <div class="navbar-title">
        <span class="navbar-title-t">
            T
        </span>
        <span class="navbar-title-rash">
            RASH
        </span>
        <span class="navbar-title-c">
            C
        </span>
        <span class="navbar-title-lothe">
            LOTHE
        </span>
        <span class="navbar-title-s1">
            S
        </span>
        <span class="navbar-title-s2">
            S
        </span>
        <span class="navbar-title-s3">
            S
        </span>
    </div>
    <div class="navbar-buttons">
        <a href="/" class="navbar-home">
            HOME
        </a>
        <a href="/clothes" class="navbar-about">
            CLOTHES
        </a>

        <a href="https://www.instagram.com/angaysfagres/" class="navbar-insta">
            INSTA
        </a>
    </div>
</div>