<div class="clothes-menu">
    <span class="clothes-menu-item">
        ALL
    </span>
    <span class="clothes-menu-item">
        HOODIES
    </span>

</div>
<div class="catalog-wrapper">


    <div class="catalog">

        <div onclick="location.href='/scooby';" class="catalog-item">
            
            <div class="catalog-item-overlay item-1">
                <div class="catalog-overlay-info">
                    <div class="catalog-info-title">
                        SCOOBY-DOO
                    </div>
                    <div class="catalog-info-type">
                        HOODIE
                    </div>
                    <div class="catalog-info-sizes">
                        <span class="catalog-size-small">
                            S
                        </span>
                        <span class="catalog-size-medium">
                            M
                        </span>
                        <span class="catalog-size-large">
                            L
                        </span>
                        <span class="catalog-size-xlarge">
                            XL
                        </span>
                    </div>
                    <div class="catalog-info-price">
                        150
                    </div>
                </div>
            </div>
            <img src="/assets/img/catalog/scoobydoo.jpg">
        </div>
        <div onclick="location.href='/genie';" class="catalog-item">
            <div class="catalog-item-overlay item-3">
                <div class="catalog-overlay-info">
                    <div class="catalog-info-title">
                        GENIE
                    </div>
                    <div class="catalog-info-type">
                        HOODIE
                    </div>
                    <div class="catalog-info-sizes">
                        <span class="catalog-size-small">
                            S
                        </span>
                        <span class="catalog-size-medium">
                            M
                        </span>
                        <span class="catalog-size-large">
                            L
                        </span>
                        <span class="catalog-size-xlarge">
                            XL
                        </span>
                    </div>
                    <div class="catalog-info-price">
                        150
                    </div>
                </div>
            </div>
            <img src="/assets/img/catalog/aladin.jpg">
        </div>
        <div onclick="location.href='/incredibles';" class="catalog-item">
            <div class="catalog-item-overlay item-2">
                <div class="catalog-overlay-info">
                    <div class="catalog-info-title">
                        INCREDIBLES
                    </div>
                    <div class="catalog-info-type">
                        HOODIE
                    </div>
                    <div class="catalog-info-sizes">
                        <span class="catalog-size-small">
                            S
                        </span>
                        <span class="catalog-size-medium">
                            M
                        </span>
                        <span class="catalog-size-large">
                            L
                        </span>
                        <span class="catalog-size-xlarge">
                            XL
                        </span>
                    </div>
                    <div class="catalog-info-price">
                        150
                    </div>
                </div>
            </div>
            <img src="/assets/img/catalog/incredibles.jpg">
        </div>
        <div onclick="location.href='/nightmare';" class="catalog-item">
            <div class="catalog-item-overlay item-4">
                <div class="catalog-overlay-info">
                    <div class="catalog-info-title">
                        NIGHTMARE
                    </div>
                    <div class="catalog-info-type">
                        HOODIE
                    </div>
                    <div class="catalog-info-sizes">
                        <span class="catalog-size-small">
                            S
                        </span>
                        <span class="catalog-size-medium">
                            M
                        </span>
                        <span class="catalog-size-large">
                            L
                        </span>
                        <span class="catalog-size-xlarge">
                            XL
                        </span>
                    </div>
                    <div class="catalog-info-price">
                        150
                    </div>
                </div>
            </div>
            <img src="/assets/img/catalog/nightmare.jpg">
        </div>

        <div onclick="location.href='/toystory';" class="catalog-item">
            <div class="catalog-item-overlay item-5">
                <div class="catalog-overlay-info">
                    <div class="catalog-info-title">
                        TOY STORY
                    </div>
                    <div class="catalog-info-type">
                        HOODIE
                    </div>
                    <div class="catalog-info-sizes">
                        <span class="catalog-size-small">
                            S
                        </span>
                        <span class="catalog-size-medium">
                            M
                        </span>
                        <span class="catalog-size-large">
                            L
                        </span>
                        <span class="catalog-size-xlarge">
                            XL
                        </span>
                    </div>
                    <div class="catalog-info-price">
                        150
                    </div>
                </div>
            </div>
            <img src="/assets/img/catalog/toystory.jpg">
        </div>     

        <div class="catalog-item">

        </div> 

    </div>
</div>